{% extends 'forms/form_base.html' %}
{% load static %}
{% block title %}Add/edit item{% endblock %}
{% block content %}
    <div class="p-2">
        <a href="{% url 'list_items' %}" class="btn btn-primary">Back</a>
    </div>
    <div class="container mt-5">
        {% if form.instance.id %}
            <h2>Edit Item</h2>
            <form method="post" action="{% url 'edit_item' form.instance.id %}">
                <a type="button"
                   class="btn btn-danger"
                   href="{% url 'delete_item' form.instance.id %}"
                   onclick="confirm('Are you sure you want to detele {{ form.instance.name }} ?')">Delete</a>
            {% else %}
                <h2>Create Item</h2>
                <form method="post" action="{% url 'add_item' %}">
                {% endif %}
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endblock %}
