<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/2b3cd04435.js"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/konva@9.3.3/konva.min.js"></script>
        <meta charset="UTF-8">
        <title>FMFI editor</title>
    </head>
    <body>
        {% include 'toolbar.html' %}
        <div id="container"></div>
        <script>
          var width = window.innerWidth;
      var height = window.innerHeight;

      var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
      });

      var layer = new Konva.Layer();
      stage.add(layer);

      var rect = new Konva.Rect({
        x: 160,
        y: 60,
        width: 100,
        height: 90,
        fill: 'red',
        name: 'rect',
        stroke: 'black',
        draggable: true,
      });
      layer.add(rect);

      var text = new Konva.Text({
        x: 5,
        y: 5,
      });
      layer.add(text);
      updateText();

      // create new transformer
      var tr = new Konva.Transformer();
      layer.add(tr);
      tr.nodes([rect]);

      rect.on('transformstart', function () {
        console.log('transform start');
      });

      rect.on('dragmove', function () {
        updateText();
      });
      rect.on('transform', function () {
        updateText();
        console.log('transform');
      });

      rect.on('transformend', function () {
        console.log('transform end');
      });

      function updateText() {
        var lines = [
          'x: ' + rect.x(),
          'y: ' + rect.y(),
          'rotation: ' + rect.rotation(),
          'width: ' + rect.width(),
          'height: ' + rect.height(),
          'scaleX: ' + rect.scaleX(),
          'scaleY: ' + rect.scaleY(),
        ];
        text.text(lines.join('\n'));
      }
        </script>
    </body>
</html>
