<script>
function syncValue(source, targetId) {
    var target = document.getElementById(targetId);
    target.value = source.value;
}
</script>
<div id="sidebar" class="col-3 bg-secondary p-4 h-100 overflow-auto">
    <h2 class="text-white mb-3">Parts</h2>
    <ul class="list-group">
        {% for part in parts %}
            <li class="list-group-item bg-light">
                <strong>{{ part.name }}</strong>
                <div class="row mt-2">
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <label class="form-label me-2">X-offset:</label>
                        <input type="range"
                               class="form-range me-2"
                               min="-3000"
                               max="3000"
                               step="1"
                               value="{{ part.dx }}"
                               id="x-offset-slider-{{ part.id }}"
                               oninput="syncValue(this, 'x-offset-number-{{ part.id }}')">
                        <input type="number"
                               class="form-control"
                               style="width: 80px"
                               min="-3000"
                               max="3000"
                               step="1"
                               value="{{ part.dx }}"
                               id="x-offset-number-{{ part.id }}"
                               oninput="syncValue(this, 'x-offset-slider-{{ part.id }}')">
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <label class="form-label me-2">Y-offset:</label>
                        <input type="range"
                               class="form-range me-2"
                               min="-3000"
                               max="3000"
                               step="1"
                               value="{{ part.dy }}"
                               id="y-offset-slider-{{ part.id }}"
                               oninput="syncValue(this, 'y-offset-number-{{ part.id }}')">
                        <input type="number"
                               class="form-control"
                               style="width: 80px"
                               min="-3000"
                               max="3000"
                               step="1"
                               value="{{ part.dy }}"
                               id="y-offset-number-{{ part.id }}"
                               oninput="syncValue(this, 'y-offset-slider-{{ part.id }}')">
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <label class="form-label me-2">X-scale:</label>
                        <input type="range"
                               class="form-range me-2"
                               min="0.01"
                               max="3"
                               step="0.01"
                               value="{{ part.scale_x }}"
                               id="x-scale-slider-{{ part.id }}"
                               oninput="syncValue(this, 'x-scale-number-{{ part.id }}')">
                        <input type="number"
                               class="form-control"
                               style="width: 80px"
                               min="0.01"
                               max="3"
                               step="0.01"
                               value="{{ part.scale_x }}"
                               id="x-scale-number-{{ part.id }}"
                               oninput="syncValue(this, 'x-scale-slider-{{ part.id }}')">
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-center">
                        <label class="form-label me-2">Y-scale:</label>
                        <input type="range"
                               class="form-range me-2"
                               min="0.01"
                               max="3"
                               step="0.01"
                               value="{{ part.scale_y }}"
                               id="y-scale-slider-{{ part.id }}"
                               oninput="syncValue(this, 'y-scale-number-{{ part.id }}')">
                        <input type="number"
                               class="form-control"
                               style="width: 80px"
                               min="0.01"
                               max="3"
                               step="0.01"
                               value="{{ part.scale_y }}"
                               id="y-scale-number-{{ part.id }}"
                               oninput="syncValue(this, 'y-scale-slider-{{ part.id }}')">
                    </div>
                </div>
                <a class="btn btn-primary btn-sm mt-2" href="{% url 'editor' part.id %}">Edit</a>
            </li>
        {% endfor %}
    </ul>
</div>
