<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            {% load static %}
            <script type="module" src={% static 'js/ToolbarManager.js' %}></script>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <ul class="navbar-nav mb-lg-0 me-2">
                    <li class="nav-item">
                        <a class="btn btn-secondary me-1"
                           title="Create rectangular room"
                           onclick="toolbarClickFunc(this)"><i class="fa-solid fa-vector-square"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary me-1"
                           title="Create polygon room"
                           onclick="toolbarClickFunc(this)"><i class="fa-solid fa-draw-polygon"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary me-1"
                           title="Create doors"
                           onclick="toolbarClickFunc(this)"><i class="fa-solid fa-door-closed"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary me-1"
                           title="Create lift/stairs"
                           onclick="toolbarClickFunc(this)"><i class="fa-solid fa-stairs"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary me-1"
                           title="Create objects"
                           onclick="toolbarClickFunc(this)"><i class="fa-solid fa-screwdriver-wrench"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary me-1"
                           title="Create custom objects"
                           onclick="toolbarClickFunc(this)"><i class="fa-solid fa-square-plus"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary me-1"
                           title="Toggle plan view"
                           onclick="toolbarClickFunc(this)"><i class="fa-solid fa-map"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success me-1"
                           title="Save changes"
                           onclick="toolbarClickFunc(this)"><i class="fa-solid fa-floppy-disk"></i></a>
                    </li>
                </ul>
            </ul>
            <a class="btn btn-outline-primary" href="/">Back</a>
        </div>
    </div>
</nav>
